{
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-shadow": [
      "error",
      { "builtinGlobals": false, "hoist": "functions", "allow": [] }
    ],
    "linebreak-style": 0
  }
}
