/* Variables*/
:root {
  --image: url("pretty.jpg");

  --font: "Scala W01", "Palatino", "Book Antiqua", serif;
  --font-size: 19px;
  --font-size-navigation: 17px;

  --post-color-opaque: rgba(255, 250, 245, 0.9);
  --post-color-0: rgba(255, 250, 245, 0);
  --post-color-1: rgba(255, 250, 245, 1);
}

/* Page */
html {
  text-rendering: optimizeLegibility;
  font-family: var(--font);
  font-size: var(--font-size);
  background-image: var(--image);
  -webkit-text-size-adjust: 100%; /*For mobile Safari inconsistency*/
}

/* Header */
.header {
  text-align: center;
  padding: 0.01em;
  background-color: var(--post-color-opaque);
}

/* Post Navigation */
.navigation {
  text-align: center;
  font-size: var(--font-size-navigation);
}

/* Posts */
.post {
  width: 35em;
  margin: auto;
  padding: 2em 6em 3em 6em;
  background-color: var(--post-color-opaque);
  line-height: 1.7;
}

.title {
  text-align: left;
}

.date {
  text-align: left;
}

.section {
  text-align: left;
}

.subsection {
  text-align: left;
}

.paragraph {
  text-align: justify;
  hyphens: auto;
}

.quote {
  text-align: justify;
  hyphens: auto;
  font-style: italic;
  margin-left: 1em;
  margin-right: 1em;
}

/*To do: make a little smaller*/
.superscript {
  vertical-align: top;
}

.footnote {
  text-align: left;
}

/* Fade for longer posts */
.fade {
  position: relative;
  height: 30em; /* max length of element*/
  overflow: hidden;
}

.fade:after {
  content: "";
  position: absolute;
  text-align: right;
  bottom: 0;
  width: 100%;
  height: 6em; /*length of fade*/
  background: linear-gradient(
    180deg,
    var(--post-color-0),
    var(--post-color-1) 100%
  );
}

/* Links */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
