.header {
    padding: .01em;
    background-color: rgba(63, 141, 141, 0.9);
}

.post {
    width: 60%;
    margin: auto;
    padding: .01em;
    background-color: rgba(252, 210, 252, 0.9);
}

/* Link style */
a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/* Format */
html{
    font-family: "Arial", Helvetica, sans-serif;
    background-image: url('lol.jpg');
    background-attachment: fixed;
}


/* Sidebar */
.sidebar {
    height: 70%; /* Full-height: remove this if you want "auto" height */
    width: 130px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    background-color: rgb(255, 254, 205, 90%); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: .01em;
  }